<nav class="lo-menu">
  <ol class="_menu">
    <li class="_item">
      <a class="_link" href="" title="" lo-search>
        Documentation <span class="lo-shortcut">(ctrl+p)</span>
      </a>
    </li>
    <!-- <li class="_item">
      <a
        class="_link"
        href="https://github.com/lotsofdev/sugarcss"
        title="Discuss about Sugarcss on Discord"
        target="_blank"
      >
        Discuss
      </a>
    </li> -->
    <li class="_item">
      <a
        class="_link"
        href="https://github.com/lotsofdev/sugarcss"
        title="Contribute to Sugarcss on Github"
        target="_blank"
      >
        Contribute
      </a>
    </li>
    <li class="_item">
      <a
        class="_link"
        href="https://github.com/lotsofdev/sugarcss"
        title="Lotsof Sugarcss on Github"
        target="_blank"
      >
        Github
      </a>
    </li>
  </ol>
</nav>
