.lo-bkg {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .picto-new-n-tasty {
    position: absolute;
    top: s-space(100);
    left: 50%;
    width: 200px;
    transform: translateX(150%) rotate(13deg);
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 10px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
    animation: lo-new-n-tasty 0.25s linear infinite;
    transition: all 0.1s ease-out;

    [fill] {
      fill: s-color(ternary, --lighten 20);
    }

    body.scrolled & {
      transform: translateX(250%) rotate(13deg);
    }
  }
}

@keyframes lo-new-n-tasty {
  0% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 10px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
  }
  17% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 5px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
  }
  40% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 10px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 2px);
  }
  48% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 10px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
  }
  84% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 12px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
  }
  100% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 10px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
  }
}
