.astro-code {
  background: s-color(main, background) !important;
  font-size: 16px;
  padding: s-space(40) 0;
  border-radius: s-radius();

  @media mobile {
    font-size: 12px;
  }

  .line {
    display: inline-block;
    padding: s-space(0) s-space(40);
    white-space: pre;

    @media mobile {
      padding: s-space(0) s-space(20);
    }

    &:empty {
      display: none;
    }
  }

  [style*='#31748F'] {
    color: s-color(complementary) !important;
  }
}
