body {
  /* overflow: hidden; */

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: s-color(accent, --darken 40);
  }
  &::-webkit-scrollbar-thumb {
    background-color: s-color(accent);
  }
}
