:root {
  --font-title: 'VT323', monospace;
  --font-text: 'Roboto', sans-serif;

  --typo-h1: normal normal 400 100px/60px var(--font-title);
  --typo-h2: normal normal 400 50px/40px var(--font-title);
  --typo-h3: normal normal 400 40px/30px var(--font-title);

  --typo-p: normal normal 400 16px/30px var(--font-text);
}

.typo-h1 {
  font: var(--typo-h1);
}
.typo-h2 {
  font: var(--typo-h2);
}
.typo-h3 {
  font: var(--typo-h3);
}
.typo-p {
  font: var(--typo-p);
}
