:root {
  --font-title: 'VT323', monospace;
  --font-text: 'Roboto', sans-serif;

  --typo-h1: normal normal 400 s-size(100) / s-size(100) var(--font-title);
  --typo-h2: normal normal 400 s-size(60) / s-size(60) var(--font-title);
  --typo-h3: normal normal 400 s-size(40) / s-size(40) var(--font-title);

  --typo-p: normal normal 400 s-size(25) / s-size(25) var(--font-text);
}

.typo-h1 {
  font: var(--typo-h1);
  font: s-typo(title);
}
.typo-h2 {
  font: var(--typo-h2);
}
.typo-h3 {
  font: var(--typo-h3);
}
.typo-p {
  font: var(--typo-p);
}

.typo-lead,
.typo-lead + p {
  font: s-typo(lead);
}
