.lo-header {
  position: fixed;
  left: 50%;
  height: 500px;
  transform: translate(-50%);
  z-index: 250;
  display: flex;
  flex-direction: column;
  align-items: center;
  @apply s-container;
  @s-transition();

  .scrolled & {
    height: 80px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 80px;
    transform: translateX(-50%);
    @s-transition();
  }

  .scrolled &:before {
    background: s-color(main, background);
  }

  ._title {
    position: absolute;
    top: 60%;
    font: s-font(title);
    color: s-color(accent, --lighten 20);
    text-transform: uppercase;
    font-size: 200px;
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
    animation: lo-logo 1s linear infinite;
    transform: translate(0, -50%);
    @s-transition();

    .scrolled & {
      top: 50%;
      font-size: 50px;
    }
  }

  svg {
    [fill] {
      fill: s-color(accent, text);
    }
  }

  .lo-nav {
    position: absolute;
    z-index: 50;
    top: 135px;
    right: 0;
    font-size: 20px;
    @s-transition;

    .scrolled & {
      top: 25px;
    }
  }

  ._logo {
    position: absolute;
    top: 140px;
    left: 0;
    transform: translateY(-50%);
    @s-transition();

    .scrolled & {
      top: 35%;
      left: 0;
    }
  }

  .logo-lotsof-picto {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    opacity: 1;
    transform: translate(-100%, -50%) scale(1);
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
    animation: lo-logo 1s linear infinite;
    @s-transition();

    [fill] {
      fill: s-color(accent, --lighten 20);
    }

    .scrolled & {
      transform: translate(-100%, -30%) scale(0.8);
    }
  }

  .logo-lotsof {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    opacity: 1;
    transform: translateX(0);
    @s-transition();

    [fill] {
      fill: white;
    }
  }

  .picto-new-n-tasty {
    position: absolute;
    top: 70%;
    left: 70%;
    width: 300px;
    transform: translateX(-50%) rotate(13deg);
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 10px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
    animation: lo-new-n-tasty 0.25s linear infinite;
    transition: all 0.1s ease-out;

    [fill] {
      fill: s-color(ternary, --lighten 20);
    }

    .scrolled & {
      top: 50%;
      left: calc(50% + 40px);
      width: 100px;
    }

    /* body.scrolled & {
      transform: translateX(250%) rotate(13deg);
    } */
  }
}

@keyframes lo-new-n-tasty {
  0% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 10px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
  }
  17% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 5px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
  }
  40% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 10px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 2px);
  }
  48% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 10px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
  }
  84% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 12px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
  }
  100% {
    filter: drop-shadow(s-color(ternary, --saturate 100) 0 0 10px)
      drop-shadow(s-color(ternary, --saturate 100) 0 0 5px);
  }
}

@keyframes lo-logo {
  0% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
  }
  17% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 5px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
  }
  40% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 2px);
  }
  48% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
  }
  84% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 12px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
  }
  100% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
  }
}
