---
import __logoLotsofPicto from '../../img/logo-lotsof-picto.svg?raw';
import __logoLotsof from '../../img/logo-lotsof.svg?raw';
import __pictoNewNasty from '../../img/picto-new-n-tasty.svg?raw';
import LoNav from '../nav/nav.astro';

import sugarcssPackageJson from '@lotsof/sugarcss/package.json';

const sugarcssVersion = sugarcssPackageJson.version;
---

<header class="lo-header">
  <a class="_logo" href="/" title="Sugarcss">
    <Fragment set:html={__logoLotsofPicto} />
    <Fragment set:html={__logoLotsof} />
  </a>
  <LoNav />
  <a href="/" title="Sugarcss">
    <h1 class="_title">Sugarcss</h1>
    <h4 class="_version">v{sugarcssVersion}</h4>
    <Fragment set:html={__pictoNewNasty} />
  </a>
  <a href="/vite" title="Lotsof Sugarcss Vite installation guide" class="btn">
    Make my project awesome!
  </a>
</header>
