<div class="lo-crt">
    <div class="_noise"></div>
	<div class="_scanlines"></div>
	<div class="_scanline-1">
		<div class="_line"></div>
		<div class="_dot"></div>
	</div>
	<div class="_scanline-2">
		<div class="_line"></div>
		<div class="_dot"></div>
	</div>
	<div class="_scanline-3">
		<div class="_line"></div>
		<div class="_dot"></div>
	</div>
	<div class="_vignette"></div>
</div>