<script>
  let active = localStorage.getItem('lo-crt') != null;
  console.log('a', active);

  const $trigger = document.querySelector('#lo-crt-trigger'),
    $crt = document.querySelector('#lo-crt');

  function show() {
    localStorage.setItem('lo-crt', 'true');
    $crt?.classList.add('-active');
    $trigger?.classList.add('-active');
  }

  function hide() {
    localStorage.removeItem('lo-crt');
    $crt?.classList.remove('-active');
    $trigger?.classList.remove('-active');
  }

  $trigger?.addEventListener('click', (e) => {
    active = !active;
    if (active) {
      show();
    } else {
      hide();
    }
  });

  if (active) {
    show();
  }
</script>

<div class="lo-crt" id="lo-crt">
  <div class="_noise"></div>
  <div class="_scanlines"></div>
  <div class="_scanline-1">
    <div class="_line"></div>
    <div class="_dot"></div>
  </div>
  <div class="_scanline-2">
    <div class="_line"></div>
    <div class="_dot"></div>
  </div>
  <div class="_scanline-4">
    <div class="_line"></div>
    <div class="_dot"></div>
  </div>
  <div class="_scanline-3">
    <div class="_line"></div>
    <div class="_dot"></div>
  </div>
  <div class="_vignette"></div>
</div>

<div id="lo-crt-trigger" class="lo-crt-trigger">
  <svg viewBox="0 0 937 954" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M134.289 953.5C126.289 953.5 125.289 912 125.289 912L228.789 920C228.789 920 230.289 953.5 219.789 953.5H134.289Z"
      fill="black"></path>
    <path
      d="M803.863 953.5C811.863 953.5 812.863 912 812.863 912L709.363 920C709.363 920 707.863 953.5 718.363 953.5H803.863Z"
      fill="black"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M45.3062 273.626C98.7243 214.626 837.461 213.625 889.81 273.626C942.159 333.626 961.789 842.626 889.81 899.126C817.831 955.625 112.326 971.125 45.3073 894.626C-21.7111 818.126 -8.11195 332.625 45.3062 273.626ZM104.646 357.956C142.797 315.874 670.398 315.16 707.786 357.956C745.174 400.752 759.193 763.799 707.786 804.098C656.379 844.396 152.511 855.451 104.647 800.888C56.7831 746.325 66.4956 400.037 104.646 357.956ZM825.289 491C852.903 491 875.289 468.614 875.289 441C875.289 413.386 852.903 391 825.289 391C797.675 391 775.289 413.386 775.289 441C775.289 468.614 797.675 491 825.289 491ZM884.289 569C884.289 596.614 861.903 619 834.289 619C806.675 619 784.289 596.614 784.289 569C784.289 541.386 806.675 519 834.289 519C861.903 519 884.289 541.386 884.289 569ZM832.289 750C859.903 750 882.289 727.614 882.289 700C882.289 672.386 859.903 650 832.289 650C804.675 650 782.289 672.386 782.289 700C782.289 727.614 804.675 750 832.289 750Z"
      fill="black"></path>
    <ellipse cx="457.289" cy="229" rx="74" ry="50" fill="black"></ellipse>
    <path
      d="M240.789 100.5L406.289 214L452.789 204.5L254.289 88L240.789 100.5Z"
      fill="black"></path>
    <circle cx="246.289" cy="94" r="33" fill="black"></circle>
    <path
      d="M629.917 45.5841L502.456 200.587L455.147 204.377L613.477 37.3257L629.917 45.5841Z"
      fill="black"></path>
    <circle
      cx="33"
      cy="33"
      r="33"
      transform="matrix(-0.96065 0.277762 0.277762 0.96065 645.363 0)"
      fill="black"></circle>
  </svg>
</div>
