<footer class="footer typo-format">
  <p>
    Released under the <a
      href="https://github.com/lotsofdev/sugarcss/blob/master/LICENSE.md"
      target="_blank">MIT License</a
    >.
  </p>
  <p>Copyright © 2024 - Olivier Bossel & Lotsof Contributors</p>
</footer>
