.lo-search {
  position: fixed;
  z-index: 500;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  pointer-events: none;
  opacity: 0;
  @s-transition (fast);

  .-search & {
    pointer-events: all;
    opacity: 1;
  }

  .advanced-select_item {
    display: flex;
    align-items: center;
  }

  ._scope {
    display: inline-block;
    width: 60px;
    /* text-align: right; */
    margin-inline-end: s-space(30);
  }

  ._name {
    flex: 1;
    font-weight: bold;
    margin-inline-end: s-space(30);
  }
  ._namespace {
    font: s-font(code);
    font-size: 12px;
    opacity: 0.5;
  }

  ._platform {
    margin-inline-end: s-space(10);
  }
  .advanced-select_item:hover,
  .advanced-select_item.-preselected {
    ._platform {
      background: s-color(accent);
      color: s-color(accent, --darken 30);
    }
  }

  ._container {
    @s-container;
    position: absolute;
    top: 20vh;
    left: 50%;
    border: solid 2px s-color(complementary);
    transform: translate(-50%, calc(-50% + 50px));
    @s-radius();
    @s-transition();

    .-search & {
      transform: translate(-50%, -50%);
    }

    @media tablet {
      top: 10vh;
    }
  }

  ._input {
    background: s-color(main, background);
    padding: s-space(30);
    width: 100%;
    outline: none;
    font: s-font(code);
  }
}

.advanced-select {
  &.-filtered {
  }

  .advanced-select_keywords {
  }
  .advanced-select_keyword {
  }

  .advanced-select_before {
  }

  .advanced-select_after {
  }

  .advanced-select_dropdown {
    background: s-color(main, background);
    width: clamp(
      s-container(minWidth),
      calc(80vw),
      calc(100vw - s-container(sidePadding) * 2)
    );
    @s-radius();
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
    animation: lo-search 0.5s linear infinite;
  }

  .advanced-select_items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;

    @media tablet {
    }

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }
    &::-webkit-scrollbar-track {
      background-color: s-color(accent, --darken 40);
    }
    &::-webkit-scrollbar-thumb {
      background-color: s-color(accent);
    }
  }

  .advanced-select_group {
    /* flex-grow: 1; */
    padding: s-space(30);
    width: 20%;
    border: 1px solid s-color(accent, --alpha 0.05);

    &:nth-child(2n-1) {
      background: s-color(main, --darken 42);
    }

    @media tablet {
      flex-shrink: 0;
      flex-grow: 0;
      width: 33.33%;
    }
    @media mobile {
      width: 100%;
    }

    /* &:has(.advanced-select_item.-preselected),
    &:hover,
    &:focus-within {
      .advanced-select_group-items {
        grid-template-rows: 1fr;
      }
    } */

    /* & {
      .advanced-select_item {
      }

      &:has(.advanced-select_item.-preselected),
      &:has(.advanced-select_item.-filtered.-match),
      &:hover,
      &:focus-within {
        .advanced-select_item {
          opacity: 1;
        }
      }
    } */
  }
  .advanced-select_group-label {
    padding: s-space(5) s-space(10);
    font: s-font(title);
    font-size: 22px;
    color: s-color(accent);
    font-weight: bold;
    text-transform: uppercase;
  }

  .advanced-select_group-items {
    /* display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    @s-transition (slow); */
  }

  .advanced-select_group-items-inner {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    /* transition: visibility 1s; */
    /* visibility: hidden; */
  }

  .advanced-select_item {
    padding: s-space(5) s-space(10);
    font: s-font(code);
    border: 2px solid s-color(accent, --alpha 0);
    display: none;
    @s-radius();

    &.-match {
      display: flex;
    }

    &.-preselected {
      filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
        drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
      animation: lo-search 0.5s linear infinite;
      border: 2px solid s-color(accent);
    }
    &.-selected {
      background: s-color(accent, --darken 20);
    }
  }

  .advanced-select_highlight {
    color: s-color(accent);
  }

  .advanced-select_loading {
  }

  .advanced-select_no-item {
  }

  &:not([interactive]) {
  }

  &.-inline {
  }

  &.-top {
  }

  &.-loading {
  }

  &.-empty {
  }
}

@keyframes lo-search {
  0% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
  }
  17% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 5px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
  }
  40% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 2px);
  }
  48% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
  }
  84% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 12px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
  }
  100% {
    filter: drop-shadow(s-color(accent, --saturate 100) 0 0 10px)
      drop-shadow(s-color(accent, --saturate 100) 0 0 5px);
  }
}
