---

---

<script>
  import { __querySelectorLive } from '@lotsof/sugar/dom';

  import __AdvancedSelectElement from '@lotsof/advanced-select-element';

  __AdvancedSelectElement.define('lo-search', __AdvancedSelectElement, {
    items() {
      return [
        {
          value: 'Hello',
        },
      ];
    },
  });

  document.addEventListener('lo.search', (e) => {
    document.body.classList.toggle('-search');
  });
  document.addEventListener('keyup', (e) => {
    if (e.key === 'Escape') {
      document.body.classList.remove('-search');
    }
  });

  __querySelectorLive('[lo-search]', ($elm: HTMLElement) => {
    console.log('EL', $elm);
  });
</script>

<form class="lo-search">
  <div class="_container">
    <lo-search>
      <input type="search" class="_input" placeholder="Search" />
    </lo-search>
  </div>
</form>
