---

---

<script>
  import { __querySelectorLive } from '@lotsof/sugar/dom';
  import __AdvancedSelectElement from '@lotsof/advanced-select-element';
  import { __escapeQueue } from '@lotsof/sugar/keyboard';
  import { navigate } from 'astro:transitions/client';
  import { __toSlug } from '../utils/utils';

  let cachedItems: any[];

  document.addEventListener('advancedSelect.select', (e) => {
    const item = e.detail.item;

    if (item.value === 'install') {
      navigate('/docs/install');
    } else if (item.value === 'vite') {
      navigate('/docs/vite');
    } else {
      navigate(`/doc/${__toSlug(item.value)}`);
    }
  });

  __AdvancedSelectElement.define('lo-search', __AdvancedSelectElement, {
    async items() {
      if (cachedItems) {
        return cachedItems;
      }

      const request = await fetch('/api/doc'),
        data = await request.json();

      const api = data.map((item: any) => {
        console.log(item);

        let platform = [];
        try {
          platform = JSON.parse(item.data.platform);
        } catch (e) {}

        console.log(platform);

        return {
          label: `<span class="_scope">${platform.map((p) => `<span class="_platform">${p.name}</span>`).join('')}</span> <span class="_name">${item.data.title}</span> <span class="_namespace">${item.id.replace(/\//gm, '.').replace(/\.mdx$/, '')}</span>`,
          value: `${item.id.replace(/\//gm, '.').replace(/\.mdx$/, '')}`,
        };
      });

      cachedItems = [
        {
          label: '<span class="_scope">How to</span> Install',
          value: 'install',
        },
        {
          label: '<span class="_scope">How to</span> Use with vite',
          value: 'vite',
        },
        ...api,
      ];
      return cachedItems;
    },
  });

  let escapeQueuePromise: any;
  document.addEventListener('keyup', (e) => {
    if (e.ctrlKey && e.key === 'p') {
      // cancel registered escape queue
      escapeQueuePromise?.cancel?.();

      // toggle search
      document.body.classList.toggle('-search');

      // focus in search
      if (document.body.classList.contains('-search')) {
        (document.querySelector('lo-search input') as HTMLElement)?.focus();
      }

      // register escape queue
      escapeQueuePromise = __escapeQueue(() => {
        document.body.classList.remove('-search');
      });
    }
  });

  __querySelectorLive('[lo-search]', ($elm: HTMLElement) => {});
</script>

<form class="lo-search">
  <div class="_container">
    <lo-search>
      <input type="search" class="_input" placeholder="Search" />
    </lo-search>
  </div>
</form>
