---
interface Props {
	title: string;
}

import '@fontsource/sixtyfour';
import '@fontsource/vt323';

import LoCrt from '../components/crt/crt.astro';

import __logoLotsofPicto from '../img/logo-lotsof-picto.svg?raw';

const { title } = Astro.props;

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="src/css/index.css" />
		<title>{title}</title>
	</head>
	<body>
		<nav class="lo-nav">
			<Fragment set:html={__logoLotsofPicto} />
			<ul class="_nav">
				<li class="_nav-item">
					<a href="/" class="_nav-link">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
							<path fill="black" d="M256 464a208 208 0 1 1 0-416 208 208 0 1 1 0 416zM256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM376.9 294.6c4.5-4.2 7.1-10.1 7.1-16.3c0-12.3-10-22.3-22.3-22.3H304V160c0-17.7-14.3-32-32-32l-32 0c-17.7 0-32 14.3-32 32v96H150.3C138 256 128 266 128 278.3c0 6.2 2.6 12.1 7.1 16.3l107.1 99.9c3.8 3.5 8.7 5.5 13.8 5.5s10.1-2 13.8-5.5l107.1-99.9z"/>
						</svg>
					</a>
				</li>
				<li class="_nav-item">
					<a href="/" class="_nav-link">
						<svg width="392" height="350" viewBox="0 0 392 350" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M141.691 23.9355L135.392 130.33C135.195 133.662 138.255 136.248 141.507 135.498L179.417 126.749C182.964 125.931 186.169 129.055 185.44 132.622L174.177 187.775C173.419 191.487 176.904 194.661 180.529 193.56L203.944 186.446C207.574 185.344 211.062 188.527 210.294 192.242L192.395 278.875C191.275 284.294 198.483 287.249 201.489 282.603L203.497 279.5L314.451 58.072C316.309 54.3645 313.105 50.137 309.033 50.9228L270.011 58.454C266.344 59.161 263.224 55.746 264.259 52.1583L273.465 20.245L380.117 0.805802C388.437 -0.710597 394.766 8.1434 390.639 15.5246L206.641 344.545C202.842 351.338 193.082 351.378 189.226 344.618L1.58011 15.5563C-2.62072 8.1896 3.67861 -0.7335 12.0265 0.758599L141.691 23.9355Z" fill="black"/>
						</svg>
					</a>
				</li>
			</ul>
		</nav>
		<main class="lo-main">
            <div class="lo-markdown">
			    <slot />
            </div>
		</main>
		<LoCrt />
	</body>
</html>