---
interface Props {
  title: string;
}

import '@fontsource/sixtyfour';
import '@fontsource/vt323';

import LoHeader from '../components/header/header.astro';
import LoCrt from '../components/crt/crt.astro';
import LoSearch from '../components/search/search.astro';
import LoNav from '../components/nav/nav.astro';

import __pictoNewNTasta from '../img/picto-new-n-tasty.svg?raw';

import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/css/index.css" />
    <script type="module" src="/src/components/index.ts" defer></script>
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <LoHeader />
    <LoNav />

    <main class="lo-main">
      <div class="lo-markdown">
        <slot />
      </div>
    </main>
    <LoSearch />
    <LoCrt />
  </body>
</html>
