---
interface Props {
  title: string;
}

import '@fontsource/sixtyfour';
import '@fontsource/vt323';
import '../components/index.css';

import InternalNav from '@lotsof/website-common/src/components/internalNav/internalNav.astro';
import LoHeader from '../components/header/header.astro';
import LoCrt from '@lotsof/website-common/src/components/crt/crt.astro';
import LoSearch from '../components/search/search.astro';
import LoFooter from '@lotsof/website-common/src/components/footer/footer.astro';

import __pictoNewNTasta from '../img/picto-new-n-tasty.svg?raw';

import { ViewTransitions, fade } from 'astro:transitions';

import { getImage } from 'astro:assets';
import faviconSvgSrc from '../img/favicon.svg';

import __packageJson from '../../package.json';

const faviconSvg = await getImage({ src: faviconSvgSrc, format: 'svg' });

// @ts-ignore
const { frontmatter, title } = Astro.props;
---

<script>
  import '../components/index';

  document.addEventListener('astro:page-load', () => {
    if (document.location.pathname === '/') {
      document.body.classList.add('-home');
    } else {
      document.body.classList.remove('-home');
    }
  });
</script>

<html lang="en" transition:animate={fade({ duration: '0.1s' })}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={__packageJson.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:description" content={__packageJson.description} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content={frontmatter?.title ?? title} />
    <meta property="og:type" content="article" />
    <meta
      property="og:image"
      content="https://cdn.lotsof.dev/img/sugarcss-lotsof-og-image.png"
    />
    <meta property="og:site_name" content="Lotsof | Sugarcss" />
    <link rel="icon" href={faviconSvg.src} type="image/svg+xml" />
    <title>{frontmatter?.title ?? title}</title>
    <ViewTransitions />
  </head>
  <body>
    <LoHeader />
    <main class="lo-main">
      <div class="lo-markdown typo-format typo-rhythm">
        <slot />
      </div>
    </main>
    <InternalNav />
    <LoFooter />
    <LoSearch />
    <LoCrt />
  </body>
</html>
